body { padding-top: 55px; }
.hidden { display: none; }
.bt {border-top: 1px solid gray; }
.darker { background-color: rgba(53,27,102,0.25); }
.text-muted-white { color: rgba(255,255,255,0.7); }
.preAM {
  text-align: center !important;
  font-weight: bold;
  width: 4ch;
}

body, .modal-body, .modal-footer {
  background-color: rgba(232,224,246,1);
}
.bg-dark, .btn-dark, .modal-header {
  background-color: #351B66 !important;
  color: white;
}
input {
  background-color: #E9DEFF !important;
}
.list-group-item, .input-group-text, select {
  background-color: rgba(255,255,255,0.55) !important;
}
.list-group-item:hover, .list-group-item:active {
  background-color: #d8c5ff !important;
}
.dark-input > * > label {
  color: black;
}
.modal-footer {
  border-color: #c2bad1 !important;
}


#month {
  background: none;
  text-align: center;
}

.fa-hamburger { color: chocolate; }
.fa-bus { color: crimson; }
.fa-dice { color: goldenrod; }
.fa-medkit { color: firebrick; }
.fa-tshirt { color: forestgreen; }
.fa-shopping-cart { color: lightslategray; }
.fa-air-freshener { color: blueviolet; }
.fa-paperclip { color: dodgerblue; }
.fa-bank { color: orange; }
.fa-tag { color: navy; }
